################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EnrollmentDB/bin/Debug
/EnrollmentDB/obj/Debug
/EventDriven.Project.BusinessLogic/obj
/EventDriven.Project.Model/obj
/Group1_Enrollment/obj
/EnrollmentDB/EnrollmentDB.dbmdl
/EnrollmentDB/EnrollmentDB.jfm
/Group1_Enrollment/bin/Debug/net8.0-windows
/Group1_Enrollment/Form1.Designer.cs
/Group1_Enrollment/Form1.cs
/EventDriven.Project.BusinessLogic/bin/Debug/net8.0/EventDriven.Project.BusinessLogic.dll
/EventDriven.Project.BusinessLogic/bin/Debug/net8.0/EventDriven.Project.BusinessLogic.pdb
/EventDriven.Project.BusinessLogic/bin/Debug/net8.0/EventDriven.Project.Model.dll
/EventDriven.Project.BusinessLogic/bin/Debug/net8.0/EventDriven.Project.Model.pdb
/EventDriven.Project.Model/bin/Debug/net8.0/EventDriven.Project.Model.pdb
/EventDriven.Project.Model/bin/Debug/net8.0/EventDriven.Project.Model.dll
/Group1_Enrollment/AdminStudentInformation_Edit.cs
/Group1_Enrollment/AdminStudentInformation_Edit.resx
/Group1_Enrollment/AdminStudentInformation_Edit.Designer.cs
