################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EnrollmentDB/bin/Debug
/EnrollmentDB/obj/Debug
/EventDriven.Project.BusinessLogic/obj
/EventDriven.Project.Model/obj
/Group1_Enrollment/obj
/EnrollmentDB/EnrollmentDB.dbmdl
/EnrollmentDB/EnrollmentDB.jfm
/Group1_Enrollment/bin/Debug/net8.0-windows
/Group1_Enrollment/Form1.Designer.cs
/Group1_Enrollment/Form1.cs
/EventDriven.Project.BusinessLogic/bin/Debug/net8.0
/EventDriven.Project.BusinessLogic/EventDriven.Project.BusinessLogic.csproj
/EventDriven.Project.Model/bin/Debug/net8.0
/EventDriven.Project.Model/Class1.cs
/EventDriven.Project.Model/EventDriven.Project.Model.csproj
/EventDriven.Project.Model/UserModel.cs
